@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   background-color: #eeeeee;
}

h4 {
   clear: none;
   display: inline;
}

h5 {
   clear: none;
   display: inline;
}

#sites img{
   width: 200px;
   height: 200px;
}

#sites {
   margin: 0 auto 0 auto;
}

a {
   margin: 10px;
   padding: 0.5em;
   width: 300px;
   height: 250px;
   display: inline-block;
   text-align: center;
   background-color: rgb(95, 162, 224);
   color: white;
   box-shadow: 5px 5px rgb(59, 130, 238);
   text-decoration: none;
}

a:hover{
   background-color: rgb(87, 59, 241);
   cursor: pointer;
}

a:active{
   background-color: black;
}

a:visited{
   color: white;
}