#new-item form{
	display: none;
}
#new-item, .item{
	margin: 10px;
	background-color: white;
	box-shadow: 5px 5px #cccccc;
}
.item{
	height: 135px;
}
.item-image{
	height: 100%;
	float: left;
}
.item-information{
	margin-left: 240px;
	padding: 5px;
}
.item-category{
	display: inline-block;
	margin: 2px;
	background-color: #CCCCCC;
	border-radius: 3px;
	padding: 2px 4px;
	font-size: 12px;
	font-weight: bold;
}
.item-delete{
	float: right;
}
.item-deleted{
	opacity: 0.33;
}
.item-deleted:hover{
	opacity: 1.0;
}